fieldset{
    width:95%;
    height: 100%;
    margin: 0px auto;
}
.half{
    width: 95%;
    margin:2%;
    height: 40%;
}
.sub{
    height: 45%;
    width:29%;
    margin: 2%;
    display: inline-block;
    vertical-align: top
}
form{
    display: inline-block;
}